In [1]:
# ternary operation
condition = False
x = 1 if condition else 0
x

0

In [5]:
# big number additions (readable)
# using underscore to make big numbers more readable
num1 = 1_000_000_000
num2 = 100_000
sum = num1 + num2
# use string formating to separate every three digits w comma
print(f'{sum: ,}')

 1,000,100,000

In [16]:
# use context manager for autoclosing of file
with open('Anne.txt', 'r') as f:
    line_count = 0
    for line in f:
        line_count += 1
    print(line_count)

299

In [17]:
with open('Anne.txt', 'r') as f:
    # counting number of words
    words = []
    for line in f:
        line_split = line.split(" ")
        for item in line_split:
            words.append(item.strip())
    print(len(words))
    print(len(set(words)))

3234
1170

In [18]:
# enumerators
names = ['Mona', 'Mina', 'Lisa', 'Kiana', 'Linda']
for name in names:
    print(name)

Mona
Mina
Lisa
Kiana
Linda

In [19]:
enumerate(names)

In [20]:
# unpacking
for item in enumerate(names):
    print(item)

(0, 'Mona')
(1, 'Mina')
(2, 'Lisa')
(3, 'Kiana')
(4, 'Linda')

In [21]:
for index, name in enumerate(names):
    print('index is {} and name is {}'.format(index, name))

index is 0 and name is Mona
index is 1 and name is Mina
index is 2 and name is Lisa
index is 3 and name is Kiana
index is 4 and name is Linda

In [25]:
for index, name in enumerate(names, start=1):
    print(index, name)

1 Mona
2 Mina
3 Lisa
4 Kiana
5 Linda

In [27]:
numerics = [1, 2, 3, 4, 5, 6]
letters = ['one', 'two', 'three', 'four', 'five', 'six']
French_letters = ['un', 'deux', 'trois', 'quatre', 'cinq', 'six']

# unpacking
for number, letter, French_letter in zip(numerics, letters, French_letters):
    print(number, letter, French_letter)

1 one un
2 two deux
3 three trois
4 four quatre
5 five cinq
6 six six

In [29]:
# unpacking into tuple format
for value in zip(numerics, letters, French_letters):
    print(value)

(1, 'one', 'un')
(2, 'two', 'deux')
(3, 'three', 'trois')
(4, 'four', 'quatre')
(5, 'five', 'cinq')
(6, 'six', 'six')

In [31]:
# tuples and unpacking
items = ('a', 'b')
items

('a', 'b')

In [34]:
c, d = (1, 2)
print(c)
print(d)

1
2

In [35]:
# ignore the variable d to get ride of warnings/errors from linting
c, _ = (1, 2)
print(c)

1

In [36]:
# the famous too many values to unpack error
a, b, c = (1, 2, 3, 4, 5, 6)

ValueError: too many values to unpack (expected 3)

In [37]:
# set a and b to the first two values and c to the rest of items
a, b , *c = (1, 2, 3, 4, 5, 6, 7)
print(a)
print(b)
print(c)

1
2
[3, 4, 5, 6, 7]

In [40]:
# set a and b to the first two values and ignore the rest
a, b , *_ = (1, 2, 3, 4, 5, 6, 7)
print(a)
print(b)

1
2

In [41]:
a, b , *c, d = (1, 2, 3, 4, 5, 6, 7, 8)
print(a)
print(b)
print(c)
print(d)

1
2
[3, 4, 5, 6, 7]
8

In [42]:
a, b , *c, *d, e = (1, 2, 3, 4, 5, 6, 7, 8)
print(a)
print(b)
print(c)
print(d)
print(e)

SyntaxError: two starred expressions in assignment (<ipython-input-42-4bcdcf731781>, line 1)

In [44]:
#Dynamic attributes
class Person():
    pass


person = Person()
person.first = "Mona"
person.last = "Jalal"
print(person.first)

Mona

In [45]:
#Dynamic attributes
class Person():
    pass


person = Person()
setattr(person, 'first', 'Mina')
print(person.first)

Mina

In [47]:
name = {'first': 'Mona', 'last': 'Jalal'}
for key, value in name.items():
    print(key, value)
name

first Mona
last Jalal

{'first': 'Mona', 'last': 'Jalal'}

In [50]:
class Person():
    pass


person = Person()
for key, value in name.items():
    setattr(person, key, value)
    
for key, value in name.items():
    print(getattr(person, key))

Mona
Jalal

In [56]:
txt = """Mona Mona is 
a good girl!
and you?"""
txt

'Mona Mona is \na good girl!\nand you?'

In [57]:
txt[::-1]

'?uoy dna\n!lrig doog a\n si anoM anoM'

In [58]:
txt.isalpha()

False

In [59]:
txt.title()

'Mona Mona Is \nA Good Girl!\nAnd You?'

In [60]:
txt.count('Mona')

2

In [61]:
txt.find('Mona')

0

In [62]:
txt.replace('Mona', 'Mina')

'Mina Mina is \na good girl!\nand you?'

In [63]:
print(dir(txt))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [77]:
# list are mutable
numbers = [1, 2, 3, 4, 5]
numbers.insert(1, 'Mona')
numbers

[1, 'Mona', 2, 3, 4, 5]

In [78]:
numbers.extend(['hi', 7])
numbers

[1, 'Mona', 2, 3, 4, 5, 'hi', 7]

In [79]:
numbers.remove(7)
numbers

[1, 'Mona', 2, 3, 4, 5, 'hi']

In [80]:
print(numbers.pop())

hi

In [98]:
nums = [1, 2, 3, 4, 5, 6]
nums.sort(reverse=True)

sorted(nums)

[1, 2, 3, 4, 5, 6]

In [104]:
import numpy as np
np.mean(nums)

3.5

In [105]:
max(nums)

6

In [107]:
np.sum(nums)

21

In [108]:
print(8 in nums)

False

In [109]:
print(1 in nums)

True

In [110]:
# tuples are immutable
mytuple = ('Mona', 'Mina', 'Lisa')
mytuple[1] = 'Lena'

TypeError: 'tuple' object does not support item assignment

In [116]:
# order doesn't matter in sets and items are unique (no duplicate number)
myset1 = {1, 2, 3, 4, 4, 4}
myset1

{1, 2, 3, 4}

In [118]:
myset2 = {3, 5, 6, 7, 4}
myset1.intersection(myset2)

{3, 4}

In [119]:
myset1.union(myset2)

{1, 2, 3, 4, 5, 6, 7}

In [120]:
myset3 = {}

In [121]:
# dictionaries

mydict = {}
type(mydict)

dict

In [123]:
students = {'Mona': 'CS', 'Mina': 'Art', 'Lisa': 'PS'}
for key, value in students.items():
    print(key, value)

Mona CS
Mina Art
Lisa PS

In [124]:
students['Mona']

'CS'

In [125]:
# try accessing a key that doesn't exist
students['CS']

KeyError: 'CS'

In [129]:
# check if a key exists and if not print 'Not found'
students.get('_CS_', 'Not found')

'Not found'

In [131]:
students.update({'Mona': 'CS', 'Mina': 'Art', 'Lisa': 'PS', 'Kimi': 'EE'})
students

{'Mona': 'CS', 'Mina': 'Art', 'Lisa': 'PS', 'Kimi': 'EE'}

In [132]:
# delete a key and its corresponding value
del students['Mona']
students

{'Mina': 'Art', 'Lisa': 'PS', 'Kimi': 'EE'}

In [133]:
# find number of keys
len(students.keys())

3

In [135]:
students.keys()

dict_keys(['Mina', 'Lisa', 'Kimi'])

In [136]:
students.values()

dict_values(['Art', 'PS', 'EE'])

In [137]:
students.items()

dict_items([('Mina', 'Art'), ('Lisa', 'PS'), ('Kimi', 'EE')])

In [138]:
for key in students:
    print(key)

Mina
Lisa
Kimi